html {
    font-family: sans-serif;
}

header {
    font-family: Courier, monospace;
    font-size: larger;
    text-align: center;
    color: blueviolet;
}

main > section {
    border-bottom: 1px solid #ccc;
    padding: 32px 0 32px;
}

main > section > h2 {
    font-size: 1.4em;
    font-weight: 400;
    color: grey;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}